{% extends 'base.html.twig' %}

{% block title %}Confirmation | {{ parent() }} {% endblock %}

{% block body %}

    <div class="container mt-5">
        <div class="alert alert-success" role="alert">
            <h1 class="alert-heading">Confirmation de réservation</h1>
            <p>Merci de votre achat, vous allez recevoir la confirmation sur l'adresse email <strong> {{ reservation.email }}</strong></p>
        </div>

        <div class="alert alert-light" role="alert">
            <h2>Resumé de votre commande</h2>
            <ul>
                <li>Code de reservation: <strong>{{ reservation.codeReservation }}</strong></li>
                <li>Nombre de billets: <strong>{{ reservation.nbrTickets }}</strong></li>
                <li>Type de billet:
                    {% if(reservation.typeTarif == "1") %}
                        <strong>Demi-journée</strong>
                    {% endif %}
                    {% if(reservation.typeTarif == "0") %}
                        <strong>Journalière</strong>
                    {% endif %}
                </li>

                <li>Date de visite: <strong>{{ reservation.dateVisite | date("d/m/Y") }}</strong></li>
                <li class="alert-warning"><strong>Si vous avez acheté des billet à tarif reduit, pensez à vos justificatifs pour les présenter à l'entrée du musée</strong></li>
            </ul>
        </div>
        <a class="btn btn-outline-primary" href="{{ path('homepage') }}">Retourner vers la page d'accueil</a>
    </div>
{% endblock %}
